In [12]:
from pandas_datareader import data
import datetime

In [24]:
#  Be careful of data and date.
start=datetime.datetime(2021,4,1)
end=datetime.datetime(2021,4,12)

#AAPL is stock symbol of  a company. 
#Pandas_datareader will produce a data frame and can be stored  in a variabe of  [df]
df=data.DataReader(name="AAPL",data_source="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-03-31,123.519997,121.150002,121.650002,122.150002,118323800,122.150002
2021-04-01,124.180000,122.489998,123.660004,123.000000,74957400,123.000000
2021-04-05,126.160004,123.070000,123.870003,125.900002,88651200,125.900002
2021-04-06,127.129997,125.650002,126.500000,126.209999,80171300,126.209999
2021-04-07,127.919998,125.139999,125.830002,127.900002,83466700,127.900002
2021-04-08,130.389999,128.520004,128.949997,130.360001,88844600,130.360001
2021-04-09,133.039993,129.470001,129.800003,133.000000,106513800,133.000000
2021-04-12,132.850006,130.630005,132.520004,131.240005,91286600,131.240005