In [3]:
from pandas_datareader import data
import datetime

/Users/wangxf108/.pyenv/versions/3.9.2/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
#  Be careful of data and date.
start=datetime.datetime(2021,3,12)
end=datetime.datetime(2021,3,20)

#AAPL is stock symbol of  a company. 
#Pandas_datareader will produce a data frame and can be stored  in a variabe of  [df]
df=data.DataReader(name="GOOG",data_source="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-03-11,2125.699951,2072.379883,2074.060059,2114.770020,1238300,2114.770020
2021-03-12,2090.260010,2047.550049,2085.000000,2061.919922,1725000,2061.919922
2021-03-15,2067.060059,2043.510010,2062.300049,2066.489990,1298100,2066.489990
2021-03-16,2123.560059,2070.000000,2078.989990,2092.520020,1490600,2092.520020
2021-03-17,2109.780029,2054.000000,2076.030029,2091.080078,1297500,2091.080078
2021-03-18,2075.500000,2033.550049,2061.000000,2036.219971,1361400,2036.219971
2021-03-19,2053.100098,2017.680054,2042.050049,2043.199951,2314400,2043.199951

In [5]:
df.index[df.Close > df.Open]

DatetimeIndex(['2021-03-11', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-19'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [6]:
p=figure(x_axis_type='datetime', width=1000, height=300 )
p.title="Candlestick Chart"

hours_12=12*60*60*1000

p.rect(df.indext[df.Close > df.Open], (df.Open+df.Close)/2, hour_12, abs(df.Open-df.Close))
p.rect

NameError: name 'figure' is not defined